*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: Arial, sans-serif;
}

body{
background:#f4f6f9;
line-height:1.7;
}

header{
background:#002b5c;
color:white;
text-align:center;
padding:25px;
}

header h1{
color:#ffd700;
font-size:40px;
}

nav{
background:#00468c;
display:flex;
justify-content:center;
flex-wrap:wrap;
}

nav a{
color:white;
padding:14px 20px;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
background:#002b5c;
}

.hero{
text-align:center;
padding:40px;
}

.hero img{
width:30%;
margin:10px;
border-radius:10px;
}

section{
max-width:1100px;
margin:auto;
background:white;
padding:40px;
margin-top:25px;
border-radius:10px;
}

h2{
color:#00468c;
margin-bottom:20px;
}

h3{
color:#0073e6;
margin-top:20px;
}

footer{
margin-top:40px;
background:#002b5c;
color:white;
text-align:center;
padding:20px;
}

@media(max-width:768px){

.hero img{
width:90%;
}

}
